$red: blue;
$bg-input: #F0F8FF;
$bg-border: #708090;
$light-grey: #d3d3d3;
$color-font: #474A51;
$c-yellow: #f9d423;
$c-red: #f83600;
$c-grin: #33CC00;
$c-grey: #474A51;
$grad-blue: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
$grad-dark: linear-gradient(60deg, #29323c 0%, #485563 100%);

$bg-black1: #202329;
$bg-black2: #2B3138;
$t-black: #262C33;
$t-white: #F0DABE; 
$grad-orange: linear-gradient(to right, #f83600 0%, #f9d423 100%);
$grad-white: linear-gradient(to top, #dfe9f3 0%, white 100%);